h1 {
  margin-top: 70px;
  margin-bottom: 110px;
  text-align: center;
  font-family: "comfortaa";
  font-size: 50px;
  color: white;
}

h2 {
  text-align: center;
  font-family: "comfortaa";
  font-size: 30px;
  color: white;
}

h3 {
  font-family: "comfortaa";
  font-size: 65px;
}

p {
  font-family: "comfortaa";
  font-size: 45px;
}

body {
  background-image: url("starGif.gif");
}

a {
  font-family: "comfortaa";
  font-size: 35px;
}

input {
  display: inline-block;
}

#roomTitle {
  font-family: "comfortaa";
  text-align: center;
  font-size: 50px;
}

#roomText {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "comfortaa";
  text-align: center;
  font-size: 23px;
}

#roomChoices {
  font-family: "comfortaa";
  text-align: center;
  font-size: 25px;
}

#roomImage {
  width: auto;
  height: 200px;
  align-content: center;
}
#hp{
  color: white;
}
#level{
  color: white;
}
#exp{
  color: white;
}
#damage{
  color: white;
}
#ehp{
  color: white;
}
.navbar {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nar .navbar-nav{
  justify-content: flex-end;
}
.nav li a {
  margin-top: 20px;
  margin-left: 10px;
  text-align: center !important;
  font-family: "comfortaa" !important;
  font-size: 20px !important;
  color: white !important;
}

.navbar-brand {
  font-size: 30px !important;
  color: White !important;
}

.well {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.informations{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
